<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield :meta %>
    <meta name="robots" content="index,follow">
    <title>
      <%= yield :title %>
    </title>
    <%= stylesheet_link_tag '/stylesheets/main.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/javascript/home/app_min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js', 'data-turbolinks-track': 'reload' %>
  <script>
      $(document).ready(function(){
          $(".menu").hide();
          $(document).on('click', function(e){
              if(e.target.id=="home" || e.target.id=="dropdown-button"){
                  if($("#dropdown-button").find('.menu').eq(0).is(":visible")) $(".menu").hide();
                  else $(".menu").show();
              }
              else {
                  $(".menu").hide();
              }
          });
      });
  </script>
    <%= csrf_meta_tags %>
</head>

<p class="navbar2-text pull-right">
  <% if user_signed_in? %>

    <div class="email">
      <%= image_tag("rblogo.svg", :alt => "Readbly Logo", :align => "middle", :size => "64x85", :class => "rblogo") %>
      <span id="email"><%= current_user.email%></span>
    </div>
        <br>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar2-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar2-link'  %>
              <% end %>
</p>
<div id="app" class="container">
  <a href="/books">
    <carta data-image="images/collection.jpg">
      <h1 id="book" slot="header">Collection</h1>

    </carta>
  </a>

  <a href="/my_reservations">
    <carta data-image="images/reserv.jpg">
      <h1 id="film" slot="header">Reservation</h1>

    </carta>
  </a>

  <a href="/book/search">
    <carta data-image="images/search.jpg">
      <h1 id="music" slot="header">Search</h1>

    </carta>
  </a>
</div>

<div class="float">
<div class="dropdown-menu", id="dropdown-button">
  <span tabindex="0">
    <%= image_tag("/images/settings.svg", :height => "32", :width => "32", :class => "my-float", :id => "home") %></span>
  <div tabindex="0"></div>
  <ul>
    <% if isAdmin(current_user) or isOperator(current_user) %><li><a href="books/new", class="menu">Add a new book</a></li>
    <% end %>
    <% if isAdmin(current_user) %>
    <li><a href="/manage_users", class = "menu">Manage Users</a></li>
    <% end %>
    <% if isAdmin(current_user) or isOperator(current_user) %>
    <li><a href="manage_reservations", class="menu">Manage Reservations</a></li>
    <% end %>
    <%= link_to 'Edit profile', edit_user_registration_path, :class => "menu"%>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => "menu"%>
  </ul>
</div>
</div>

</div>
