<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <h1>Search results</h1>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Isbn</th>
      <th>Release year</th>
      <th>Avaiable</th>
    </tr>
    </thead>

    <tbody>
    <% @books.each do |book| %>
    <% if isAvaiable=isAvaiable(book) %>
    <% end %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.publisher %></td>
        <td><%= book.isbn %></td>
        <td><%= book.released_at %></td>
        <% if isAvaiable(book) %>
          <td>
            <p style="color:#005407;">
              True
            </p>
          </td>
        <% else %>
          <td>
            <p style="color:#6e0000;">
              False
            </p>
          </td>
        <% end %>
        <td><%= link_to 'Show', book %></td>
      </tr>
    <% end %>
    <%= will_paginate @books %>
    </tbody>
  </table>

  <br>
</div>
      </body>