<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="/javascript/books/book_search_form.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/book.css">
</head>

<body onload="initializeBookStorage()">
    <div class="container" onkeypress="return checkSubmit(event)">
        <h1>Find a book</h1>
        <%= form_with url: search_results_url , name: "bookFrom", id:"myBookForm", method: :get, :html => { :onsubmit => "return addBookStorage()" }, local: true do |form| %>
            <fieldset class="form-fieldset ui-input __first" id="firstForm">
                <%= form.text_field :title, id: 'title' %>
                <label for="title">
                    <span data-text="Title (Required)">Title</span>
                </label>
            </fieldset>
            <fieldset class="form-fieldset ui-input __second">
                <%= form.text_field :author, id: 'author' %>
                <label for="author">
                  <span data-text="Author">Author</span>
                </label>
            </fieldset>

            <fieldset class="form-fieldset ui-input __third">
                <%= form.text_field :isbn, id: 'isbn', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57;', maxlength: 13%>
                <label for="isbn">
                    <span data-text="ISBN">ISBN</span>
                </label>
            </fieldset>

            <fieldset class="form-fieldset ui-input __fourth">
                <%= form.number_field :released_at, min: 0,  id: 'released_at' %>
                <label for="released_at">
                    <span data-text="Release Year" >Release Year</span>
                </label>
            </fieldset>

        <div class="form-footer">
          <%= form.submit "Search", :class => 'btn', :id => 'search_button', data: { disable_with: false }%>
          <%= submit_tag("Reset", { :name => 'reset', :id => 'reset', :type => 'reset', :class => 'btn', data: { disable_with: false }}) %>
        </div>
        <% end %>
      <div id="bookStorage"></div>
    </div>
</body>