<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<h2> Book search</h2>
<%= form_with url: search_results_url , method: :get, local: true do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: 'title' %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: 'author' %>
  </div>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn, id: 'isbn', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57;', maxlength: 13%>
  </div>

  <div class="field">
    <%= form.label :released_at %>
    <%= form.number_field :released_at, min: 0,  id: 'released_at' %>
  </div>

  <div class="actions">
    <%= form.submit "Search"%>
  </div>
<% end %>
