<% content_for :for_head do %>
    <%= stylesheet_link_tag    '/stylesheets/show.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<% end %>


<div class="container-grid">

  <div class="header">
    <%= current_user.email%>
  </div>

  <div class="aside">
  <% if @book.coverlink %>
      <%= image_tag(@book.coverlink, :alt => "Book Cover") %>
  <% else %>
    <%= image_tag("https://pre00.deviantart.net/490c/th/pre/i/2016/067/9/c/dead_link_by_lessthanxero-d9ug6qu.jpg", :alt => "Book Cover") %>
  <% end %>
  </div>

  <div class="main">

    <p id="title">
      <%= @book.title %>
    </p>
    <br />
    <p>
      <strong>Written By </strong>
      <%= @book.author %>
    </p>
    </br>
    <p>
      <strong>Publisher:</strong>
      <%= @book.publisher %>
    </p>
    <p>
      <strong>Overview:</strong>
      <%= @book.overview %>
    </p>
    <p>
      <strong>Isbn:</strong>
      <%= @book.isbn %>
    </p>
    <p>
      <strong>Released at:</strong>
      <%= @book.released_at %>
    </p>
  </div>
<div class="footer">
  <%= link_to 'Show reservations and loans',book_reservations_url(:book_id => @book.id), method: :get%>
  <% if isAvaiable(@book) %>
  | <%= link_to "Place reservation", {:controller => :reservations, :action => :create, :book_id => @book.id, :user_id => current_user.id}, :method => :post%>
  <% end %>
  <br/>
  <% if isOperator(current_user) or isAdmin(current_user) %>
    <%= link_to 'Edit', edit_book_path(@book) %> |
    <%= link_to 'Back', books_path %> |
  <% if @book.isDisabled %>
    <%= link_to "Enable", {:controller => :books, :action => :enable, :id => @book.id}, :method => :put%>
    <% else %>
    <%= link_to "Disable", {:controller => :books, :action => :disable, :id => @book.id}, :method => :put%>
  <% end %>
  <% end %>
  <% if isAdmin(current_user) %>
    | <%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you REALLY sure?' } %>
  <% end %>
    </div>
</div>
