<p id="notice">
  <%= notice %>
</p>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @book.overview %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Released at:</strong>
  <%= @book.released_at %>
</p>

<p>
  <strong>Coverlink:</strong>
  <%= @book.coverlink %>
</p>

<% if isOperator(current_user) or isAdmin(current_user) %>
  <p>
    <strong>Disable:</strong>
    <%= @book.isDisabled %>
  </p>
<% end %>

<%= link_to 'Show reservations and loans',book_reservations_url(:book_id => @book.id), method: :get%>
  <br/>
  <% if isOperator(current_user) or isAdmin(current_user) %>
    <%= link_to 'Edit', edit_book_path(@book) %> |
    <%= link_to 'Back', books_path %> |
    <%= link_to 'Disable', book_disable_url({:id => @book.id }.merge(params )), method: :put, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <% if isAdmin(current_user) %>
    |
    <%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>