<head>
    <%= stylesheet_link_tag '/stylesheets/signup.css', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<%= flash_messages %>

<div class="rectangle">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<h2>Login</h2>
  <div class="devise-container">
    <div class="row">
      <div class="form-group">
        <%= f.label :email, class: "labelField"%><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <%= f.label :password, class: "labelField"%><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group actions">
        <% if devise_mapping.rememberable? -%>
          <div class="field-pull-left">
          <%= f.check_box :remember_me, class:"checkbox" %> 
          <%= f.label :remember_me, {class: "checkbox inline"}  %>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
  <%= f.submit "Log in", class: "login" %>
  </div>
<% end %>