<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag '/stylesheets/table.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <%= javascript_include_tag '/javascript/manage_users/manage_users.js', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '/stylesheets/reservations.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script>
    function onLoad() {
      var i, tabcontent, tablinks;
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      var ls = localStorage.getItem("my_last_tab")
      if (ls != null) {
        document.getElementById(ls).style.display = "block";
        for (i = 0; i < tablinks.length; i++) {
          if (tablinks[i].value == ls) {
            tablinks[i].className += " active";
            break;
          }
        }
      }
    }

    function openTab(evt, name) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      localStorage.setItem("my_last_tab", name.toLowerCase());
      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(name).style.display = "block";
      evt.currentTarget.className += " active";
    }
  </script>
</head>

<body onload="onLoad();">
  <div class="container">
    <h1>Manage Reservations/Loans</h1>

    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'pending')" value="pending">Pending</button>
      <button class="tablinks" onclick="openTab(event, 'active')" value="active">Active</button>
      <button class="tablinks" onclick="openTab(event, 'complete')" value="complete">Complete</button>
    </div>

    <div id="pending" class="tabcontent">
      <h2> Pending reservations:</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Book</th>
            <th>Created at</th>
          </tr>
        </thead>
        <tbody>
          <% @pending_reservations.each do |reservation| %>
            <td>
              <%= link_to  getBookById(reservation.book_id).title, getBookById(reservation.book_id) %>
            </td>
            <td>
              <%= reservation.request_date %>
            </td>
            <% if ApplicationHelper.hasValidRole(current_user) %>
              <td>
                <%= button_to 'Delete reservation', delete_reservation_url, method: :delete, data: { confirm: 'Are you sure?' }, params: {id: reservation.id} %>
              </td>
              <% end %>
                </tr>
                <% end %>
        </tbody>
      </table>
      <%= will_paginate @pending_reservations %>
    </div>


    <div id="active" class="tabcontent">
      <h2> Active loans:</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Book</th>
            <th>Created at</th>
            <th>Expire at</th>
            <th>Postponed</th>
          </tr>
        </thead>
        <tbody>
          <% @active_reservations.each do |reservation| %>
          <tr>
            <td>
              <%= link_to  getBookById(reservation.book_id).title, getBookById(reservation.book_id) %>
            </td>
            <td>
              <%= reservation.request_date %>
            </td>
            <% if nearExpirationDate(reservation.expiration_date) %>
              <td>
                <p style="color:red;">
                  <%= reservation.expiration_date %>
                </p>
              </td>
            <% else %>
              <td>
                <%= reservation.expiration_date %>
              </td>
            <% end %>
            <td>
              <%= reservation.isPostponed %>
            </td>
            <% if (reservation.expiration_date - DateTime.now).to_i <=7 %>
            <td>
              <%= button_to 'Postpone Return', postpone_return_url, method: :put, data: { confirm: 'Are you sure?' }, params: {id: reservation.id} %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @active_reservations %>
    </div>

    <div id="complete" class="tabcontent">
      <h2> Returned loans:</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Book</th>
            <th>Created at</th>
            <th>Expire at</th>
            <th>Returned at</th>
          </tr>
        </thead>
        <tbody>
          <% @completed_reservations.each do |reservation| %>
            <td>
              <%= link_to  getBookById(reservation.book_id).title, getBookById(reservation.book_id) %>
            </td>
            <td>
              <%= reservation.request_date %>
            </td>

            <td>
              <%= reservation.expiration_date %>
            </td>
            <td>
              <%= reservation.returned_date %>
            </td>
            </tr>
            <% end %>
        </tbody>
      </table>
      <%= will_paginate @completed_reservations %>
    </div>
  </div>
</body>