<% content_for :for_head do %>
  <%= javascript_include_tag '/javascript/manage_users/manage_users.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '/stylesheets/table.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>


<body onload="manageUsersLoad();">
  <div class="container">
    <h1>Manage Users</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Email</th>
          <th>Role</th>
          <th>Created at</th>
          <th>Last sign in</th>
          <th>Last IP</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= getRole(user) %>
          </td>
          <td>
            <%= user.created_at %>
          </td>
          <td>
            <%= user.last_sign_in_at %>
          </td>
          <td>
            <%= user.last_sign_in_ip %>
          </td>
          <td>
            <%= form_for :changes, :url => {:action => "change_role",:id => user.id} do |f|%>
              <%= f.select :role, options_for_select(User::ROLES) ,{}, { :class => 'select' }  %>
                <%= f.submit "Change",  :disable_with => "Changing...", :class => 'change' %>
                  <% end %>
          </td>
          <td><%= button_to 'Delete', user_destroy_url, method: :delete, data: { confirm: 'Are you sure?' }, params: {id: user.id} %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
    <%= will_paginate @users %>
  </div>
</body>